# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.pkl
*.h5
*.model

# Data files
# Uncomment if you don't want to include data files in your repository
# *.csv
# *.xlsx
# *.xls
# *.json

# Zip files
# *.zip

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.log
.~lock*

# Large media files
# *.mp4
# *.tiff
# *.avi
# *.flv
# *.mov
# *.wmv
